@using Microsoft.AspNetCore.Identity
@using NewMyApp.Core.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @if (!string.IsNullOrEmpty(currentUser?.ProfilePicture))
            {
                <img src="@currentUser.ProfilePicture" alt="Profile" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
            }
            else
            {
                <img src="/images/default-avatar.png" alt="Profile" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
            }
            @($"{currentUser?.FirstName} {currentUser?.LastName}")
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index"><i class="fas fa-user"></i> Профіль</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Settings"><i class="fas fa-cog"></i> Налаштування</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Вийти</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Увійти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Зареєструватися</a>
    </li>
}
</ul> 